---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import qrCode from "../images/qr-code.svg";
import heroImage from "../images/hero.avif";
---

<Layout title="Print">
  <div class="relative isolate overflow-hidden bg-gray-900 pb-16">
    <Image
      src={heroImage}
      alt="Hero image of group coding"
      width={2000}
      height={1800}
      decoding="async"
      loading="lazy"
      class="absolute inset-0 -z-10 h-full w-full object-cover"
    />
    <div
      class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      >
      </div>
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl py-32">
        <div class="hidden sm:mb-8 sm:flex sm:justify-center"></div>
        <div class="text-center flex flex-col relative">
          <h1 class="text-3xl font-bold tracking-tight text-white sm:text-6xl">
            <span class="pr-3 text-red-500">High</span><span
              class="pr-3 text-white">Coast</span
            >
            <span class="pr-4 text-green-500 rotate-4">Game</span>
            <span class="text-yellow-400">Jam</span>
          </h1>
          <div
            class="pt-4 lg:absolute lg:top-[-5.0em] lg:right-[-180px] lg:transform lg:rotate-[20deg]"
          >
            <span class="text-4xl sm:text-6xl font-bold text-yellow-400"
              >4 dec - 10 dec</span
            >
          </div>
          <p class="mt-4 sm:mt-6 text-lg leading-8 text-gray-300">
            Är du en gamer, kodare eller bara nyfiken på att skapa spel? Joina
            oss på High Coast Game Jam! 🎮✨
          </p>
          <div class="flex justify-center">
            <ul
              class="mt-4 sm:mt-6 text-lg leading-8 text-gray-300 list-disc text-left"
            >
              <li>Ingen erfarenhet krävs! Alla nivåer är välkomna.</li>
              <li>Nätverka med andra som som älskar spel.</li>
              <li>Ge liv åt dina idéer.</li>
              <li>Ingen kostnad! Mer information via qr koden nedan!</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <Image
          src={qrCode}
          height={200}
          width={200}
          alt="https://www.highcoastgamejam.se"
        />
      </div>
    </div>
    <div
      class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      >
      </div>
    </div>
  </div>
  <div></div>
</Layout>

<style>
  html {
    color: white;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    border: 0;
  }
</style>
