---
import { Image } from "astro:assets";
import LogoCloud from "../components/LogoCloud.astro";
---

<div class="relative isolate overflow-hidden bg-gray-900 pb-16 pt-14 sm:pb-20">
  <Image
    src="/images/hero.avif"
    alt="Hero image of group coding"
    width={2000}
    height={1800}
    class="absolute inset-0 -z-10 h-full w-full object-cover"
  />
  <div
    class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
    aria-hidden="true"
  >
    <div
      class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
    >
    </div>
  </div>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
      <div class="hidden sm:mb-8 sm:flex sm:justify-center"></div>
      <div class="text-center flex flex-col relative">
        <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">
          <span class="pr-3 text-red-500">High</span><span class="pr-3"
            >Coast</span
          >
          <span class="pr-4 text-green-500 rotate-4">Game</span>
          <span class="text-yellow-400">Jam</span>
        </h1>
        <div
          class="pt-4 lg:absolute lg:top-[-5.0em] lg:right-[-70px] lg:transform lg:rotate-12"
        >
          <span class="text-4xl sm:text-6xl font-bold text-yellow-400"
            >4-10/12</span
          >
        </div>
        <p class="mt-4 sm:mt-6 text-lg leading-8 text-gray-300">
          Unleash your creativity, forge epic adventures, and level up your game
          development skills in our electrifying Game Jam!
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a
            href="https://itch.io/jam/high-coast-game-jam"
            target="_blank"
            class="flex items-center gap-2 rounded-md bg-yellow-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-yellow-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-400"
            >Submit your entry on Itch.io <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
              ></path>
            </svg></a
          >
          <a
            href="#challanges"
            class="text-sm font-semibold leading-6 text-white">Learn more...</a
          >
        </div>
      </div>
    </div>
    <LogoCloud />
  </div>
  <div
    class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
    aria-hidden="true"
  >
    <div
      class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
    >
    </div>
  </div>
</div>
