---
interface Props {
  title: string;
}

const { title } = Astro.props;

const fathomSideId = import.meta.env.PROD
  ? import.meta.env.PUBLIC_FATHOM_ID
  : null;
---

<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="description"
      content="Join us for a week of creative game development and innovation in the High Coast region. Discover incredible projects and be part of the gaming community at High Coast Game Jam!"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.highcoastgamejam.se/" />
    <meta property="og:title" content="High Coast Game Jam" />
    <meta
      property="og:description"
      content="Join us for a week of creative game development and innovation in the High Coast region. Discover incredible projects and be part of the gaming community at High Coast Game Jam!"
    />
    <meta
      property="og:image"
      content="https://www.highcoastgamejam.se/images/hero.avif"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.highcoastgamejam.se/" />
    <meta property="twitter:title" content="High Coast Game Jam" />
    <meta
      property="twitter:description"
      content="Join us for a week of creative game development and innovation in the High Coast region. Discover incredible projects and be part of the gaming community at High Coast Game Jam!"
    />
    <meta
      property="twitter:image"
      content="https://www.highcoastgamejam.se/images/hero.avif"
    />
    <script
      src="https://cdn.usefathom.com/script.js"
      data-site={fathomSideId}
      defer></script>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
